*{
    padding: 0%;
    margin: 0%;
}
body{
display:flex;
align-items: center;
justify-content: center;
width: 100%; 
min-height: 100vh;
background-color: (0, 0%, 95%);
}
.padding-class{
    padding: 3% 6% 6% 6%;
}
main{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}
.one{
    background-color: hsl(31, 77%, 52%);
    border-radius: 1rem 0 0 1rem;
}
p{
    line-height: 2.5;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
h2{
    padding: 12% 0;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
.two{
    background-color: hsl(184, 100%, 22%);
}
.three{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 1rem 1rem 0;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}
.one a:hover{
    background-color: hsl(31, 77%, 52%);
    cursor: pointer;
    color: white !important;
    border: 2px solid white !important;
}
.two a:hover{
    background-color: hsl(184, 100%, 22%);
    cursor: pointer;
    color: white !important;
    border: 2px solid white !important;

}
.three a:hover{
    background-color: hsl(179, 100%, 13%);
    cursor: pointer;
    color: white !important;
    border: 2px solid white !important;

}
@media (width: 375px) {
    main{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 80%;
    }
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}
